.App {
  text-align: center;
  min-height: 100vh;
  background-image: url(assets/A\ White\ Clock\ With\ Numbers\ Is\ Against\ A\ Calendar\ Background.jpg);
  background-size: cover;
  background-position: center;
}
